version: '3'
services:
  app:
    build: 
      context: node
      dockerfile: Dockerfile.prod
    container_name: app
    networks:
      - node-network
    volumes: 
      - ./node:/usr/src/app
    command: >
      sh -c "npm install &&
             node index.js"
    tty: true
    ports:
      - "3000:3000"
    depends_on:
      - banco


  banco:
    build: 
      context: ./banco
      dockerfile: Dockerfile.prod
    image: anaanderi/create-db
    command: --innodb-use-native-aio=0
    container_name: banco
    restart: always
    tty: true
    volumes: 
      - ./banco/mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - node-network


  nginx:
    build: 
      context: ./nginx
      dockerfile: Dockerfile.prod
    image: anaanderi/nginx:prod
    container_name: nginx
    networks: 
      - node-network
    ports: 
      - "8080:80"
    depends_on:
      - app

networks:
  node-network:
    driver: bridge
